<style lang="scss">
  // This CSS is not scoped to this component, meaing it is global.

  // Basic CSS reset / normalising rules
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    font-family: inherit;
  }

  // ===============================
  // Variables
  $outer-container-width: 1200px;
  $base-spacing: 10px;

  .shop-container {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: $outer-container-width;
  }

</style>

<template>
  <div id="app" class="shop-container">
    <ShopHeader v-bind:productSizes="productSizes"
                v-bind:pageHeading="pageHeading"
                v-bind:selectedSize="selectedSize"
                v-on:updateSize="updateSize"/>
    <ProductList v-bind:products='products'/>
  </div>
</template>

<script>
// 'api' library pulling in product data from supplied JSON
import * as api from '../api'

// vue components
import ProductList from './ProductList'
import ShopHeader from './ShopHeader'

export default {
  name: 'app',
  components: {
    ProductList,
    ShopHeader
  },
  data: function () {
    return {
      pageHeading: 'Women\'s tops',
      products: {},
      productSizes: [],
      // not overly necessary to have the size in state here, but if in future
      // a URL contains a size, it could be passed through here.
      selectedSize: 'all',
    }
  },
  mounted: function () {
    // load in all products
    this.products = api.getAllProducts()
    this.productSizes = api.getAllSizes()
  },
  methods: {
    updateSize: function (size) {
      this.selectedSize = size
      this.products = api.getProductsInSize(size)
    }
  },
}
</script>
