<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .product-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
</style>

<template>
  <div class="product-list">
    <Product  v-for="product in products"
              :key="product.index"
              v-bind:isSale="product.isSale"
              v-bind:isExclusive="product.isExclusive"
              v-bind:price="product.price"
              v-bind:productImage="product.productImage"
              v-bind:productName="product.productName" />
  </div>
</template>

<script>

import Product from './Product'

export default {
  name: 'ProductList',
  components: {
    Product,
  },
  props: ['products'],
  data: function () {
    return {
      size: 'small',
    }
  },
}
</script>
