<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $button-height: 50px;
  $button-text-color: #fff;
  $button-sale-color: #cc3333;
  $button-exclusive-color: #009900;
  $base-spacing: 10px;

  $product-border-color: #e1e1e1;

  // @at-root in use to minimise the specificity of CSS rules
  .product {
    display: block;
    float: left;
    width: 25%;

    overflow: hidden;

    padding: $base-spacing;
    border: 1px solid $product-border-color;

    @media only screen and (max-width: 900px)  {
      width: 33.33%;
    }

    @media only screen and (max-width: 700px)  {
      width: 50%;
    }

    @media only screen and (max-width: 550px)  {
      width: 100%;
    }

    @at-root .product-image-wrap {
      text-align:center;
    }
    @at-root .product-image {
      width: 100%;
      max-width: 240px;
    }

    @at-root .product-buttons-wrap {
      height: $button-height + 2* $base-spacing;
      padding: $base-spacing 0;
    }

    @at-root .product-button {

      &-sale,
      &-exclusive {
        color: $button-text-color;
        border: none;
        border-radius: 0px;
        height: $button-height;
        font-size: 16px;
        font-weight: normal;
      }

      &-sale {
        background-color: $button-sale-color;
        padding: 10px 20px;
      }

      &-exclusive {
        background-color: $button-exclusive-color;
        padding: 10px 30px;
      }
    }

    @at-root .product-image {

    }

    @at-root .product-meta-wrap {
      position: relative;
      padding-top: $base-spacing;
      padding-right: 105px; // magic number offset
      padding-bottom: 15px; // magic number pulled from designs
    }

    @at-root .product-meta-name {
      font-size: 22px;
    }

    @at-root .product-meta-price {
      font-size: 32px;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }

</style>

<template>
  <div class="product">
    <div class="product-image-wrap">
      <img class="product-image" :src="'../src/assets/' + productImage">
    </div>
    <div class="product-buttons-wrap">
      <button class="product-button-sale" v-if="isSale">Sale</button>
      <button class="product-button-exclusive" v-if="isExclusive">Exclusive</button>
    </div>
    <div class="product-meta-wrap">
      <span class="product-meta-name">{{productName}}</span>
      <span class="product-meta-price">{{price}}</span>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Product',
    props: [
      'isSale',
      'isExclusive',
      'price',
      'productImage',
      'productName'],
  }
</script>
