<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  // ===============================
  // Variables
  $header-background-color: #def1f4;
  $base-spacing: 10px;

  // @at-root in use to minimise the specificity of CSS rules
  .shop-header {
    background: $header-background-color;
    padding: $base-spacing;
    margin-bottom: 10px;
    position: relative;

    @media only screen and (max-width: 550px)  {
      text-align: center;
    }

    @at-root .shop-header-heading {
      display: inline-block;
      margin: 0;
      font-size: 36px;

      @media only screen and (max-width: 550px)  {
        display: block;
        margin-bottom:15px;
      }
    }

    @at-root .shop-header-size-select {
      position: absolute;
      top: 21px;
      right: 10px;
      font-size: 16px;
      width: 200px;
      height: 26px;

      @media only screen and (max-width: 550px)  {
        position: relative;
        top:0px;
        right:0px;
      }
    }
  }

</style>

<template>
  <div class="shop-header">
    <h1 class="shop-header-heading">{{ pageHeading }}</h1>
    <select class="shop-header-size-select"
            v-model="currentSize"
            v-on:change="updateProducts">
      <option value="all">Filter by size</option>
      <option value="all">All</option>
      <option v-for="size in productSizes" v-bind:value="size">
        {{ size }}
      </option>
    </select>
  </div>
</template>

<script>

export default {
  name: 'ShopHeader',
  props: ['productSizes', 'pageHeading', 'selectedSize'],
  data () {
    return {
      currentSize: '',
    }
  },
  mounted: function () {
    // Set initial size based on what has been passed through
    this.currentSize = this.selectedSize;
  },
  methods: {
    // function which emits event down to parent component
    updateProducts: function () {
      this.$emit('updateSize', this.currentSize)
    }
  }
}
</script>
